* {
    padding: 0;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    box-sizing: border-box;
}

/* ------------------------------ INDEX - PRIMERA PÃGINA ------------------------ */
.buttons {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.buttons {
    flex-grow: 1;
}

.buttons a {
    display: block;
    padding: 1em;
    background-color: lightcyan;
    text-align: center;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: black;
}
.button-go-back{
    background-color: transparent;
    border-radius: 10px;
}

.button-go-back:hover{
    background-color: #b8ffc691;
    border-color: white;
    color: rgb(0, 184, 165);
    transition: .2s;
}

.buttons a:hover {
    background-color: rgb(18, 148, 178);
}

.first-page-classes h1 {
    border: 2px solid blue;
}

.first-page-classes p {
    border: 1px solid black;
}

.first-page-classes strong {
    color: blueviolet;
}

.first-page-classes em {
    color: indianred;
}

.first-page-classes div {
    display: flex;

}

.first-page-classes{
    padding: 20px;
}

/* --------------------------------------- IMAGENES RESPONSIVAS / GALERIA ----------------------- */

.button-go-back{
    padding: 5px 0 5px 0;
    margin: 15px 0 15px 0;
}

.images-responsive {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.images-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 5px;
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}

.vertical {
    grid-row: span 2;
}

.horizontal {
    grid-column: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.images-items img, .gallery img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.frame {
    grid-column: span 2;
    grid-row: span 4;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

.frame-vertical {
    grid-column: span 2;
    height: 100%;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
}

/* --------------------------------------- EL TIEMPO --------------------------------- */

.body-width {
    margin: auto 4% 0px 4%;
}

nav ul li, nav div ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    font-size: 0.81rem;
    font-weight: 600;
    text-decoration: none;
}

.navigation-primary {
    background-color: rgb(11, 88, 145);
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;


}

.navigation-primary div ul li a,
.navigation-primary div ul li i {
    color: #ffff;
    margin: 2px;
    text-decoration: none;

}

.navigation-primary div ul li {
    border: 0.1px inset #ffff;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}

.user {
    margin-right: 5px;
}

.section {
    margin-left: 4px;
}

.suscription {
    border: none !important;
    box-shadow: 3.5px 3.5px 0 black;
    margin: 5px 30px 0 0;
    width: 40%;
    border-radius: 5px;
}

.initial-space {
    margin-top: 2.5% !important;
}

.navigation-topics {
    display: flex;
    margin: auto 4%;
    align-items: center;
    padding: 10px 0;
    border-top: 2px solid rgb(11, 88, 145);
}

.navigation-topics ul li {
    display: inline-block;
    padding: 0 10px 0 3px;
}

.navigation-topics .today-topics>li {
    border-right: 1px solid #6d6d6d;

}

.navigation-topics ul strong {
    font-size: 0.9rem;
    color: rgb(14, 101, 165);
}

.title {
    display: flex;
    font-size: 55px;
    font-weight: 750;
    font-style: normal;
    color: rgb(14, 101, 165);
}

.title img {
    width: 36%;
    margin: 0 auto;
}

.title-header .social-media ul li i {
    margin-right: 6px;
    border: 1px solid rgb(11, 88, 145);
    font-size: 20px;
    color: rgb(5, 54, 91);
    border-radius: 40px;
    padding: 4px;
}

.social-media ul {

    align-content: end;
}

.title-header {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    text-decoration: none;
    margin-top: 1.3vw ;
}

.title-header p {
    flex: 3 1 3%;
    color: rgb(5, 54, 91);
}

.title-header p a {
    text-decoration: none;
    font-size: 8px;
    color: rgb(11, 88, 145);
}

.title-header .title-container {
    flex: 3 1 67%;
    align-items: center;
}

.social-media {
    align-items: end;
    flex: 3 1 8%;
}

.advice {
    width: 100%;
    margin: 3.5% 0 2% 0;
}

.notices {
    display: flex;
    flex-flow: row;
}

.notices div h2 {
    font-size: 25px;
    margin-bottom: 20px;
}
.notices div p {
    color: #6d6d6d;
    margin-bottom: 10px;
    font-size: 16px;
}


.notice-container{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.live-notice {
    flex: 3 1 70%;
    padding: 5px 18px 0 5px;
}

.img-live-notice {
    width: 100%;
    border-radius: 8px;
}

.today {
    flex: 3 1 25%;
    padding: 5px 10px 0 5px;

}

.hot-notices {
    flex: 3 1 25%;
}

.suscriptors-locked {
    background-color: rgb(39, 174, 96);
    width: 8vw;
    font-size: 0.8rem;
    color: #ffff;
    padding: 0.3vw 0 .5vh .5vw;
    box-shadow: 3.5px 3.5px 0 black;
    margin: 10px 0 12px 0;
}

.suscriptors-locked i {
    margin-left: 8px;
}

.notice-state {
    background-color: rgb(240, 181, 3);
    width: 12vw;
    font-size: 0.8rem;
    padding: 0.6vh 0 .5vh 0.5vw;
    color: #ffff;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.notice-state i {
    margin-right: 20px;
    padding: 5px 5px 0;
}

.notice-state strong {
    font-size: 12px;
}
